<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  のカリキュラムから作成したTwitter似のアプリです。</br>
  </br>
  2018/04/17 カリキュラム開始</br>
  2018/04/28 カリキュラム修了</br>
  2018/04/30 ユーザー検索機能を追加</br>
  2018/05/01 いいね機能を追加</br>
  2018/05/02 マイクロポスト検索機能を追加</br>
  2018/05/05 リプライ機能を追加</br>
</p>