<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% else %>
	<p>
		Sorry, Couldn't find any microposts.</br>
		Please try another keywords.
	</p>
<% end %>